@charset "utf-8";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/form";
@import "~bulma/sass/elements/notification";
@import "~bulma/sass/elements/tag";

$margin: 1rem;

html {
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &>.messages {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-bottom: 0.5rem;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #fff;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }
    }

    &>.message-input {
        flex: 0 0 auto;
        padding: $margin / 2;
        background: #000;
    }
}

.message:not(:last-child) {
    margin-bottom: $margin/2;
}

.message-piece {
    margin: 0.25rem $margin;

    background: $background;
    border-radius: $radius;
}

.inline-notification {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;

    .tag {
        margin-bottom: 0;

        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:first-child {
            min-width: 10em;
        }

        &:last-child {
            flex-grow: 1
        }

        &.uname {
            min-width: 10em;
        }
    }
}

.toggleable {
    transition: background-color 0.5s linear;
}
